<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUrl" value="https://swcosmosdbsql.documents.azure.com:443/" />
    <add key="PrimaryKey" value="HIPvdrYwvGhLln6pkpwxzkNwZEjygYtOt560Gmu8w3xF4GeaELOPtlt5fJr8ycoVslC8V2K0ZlgHMJOmDHOSaQ==" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>