<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUrl" value="https://swcosmosdbsql.documents.azure.com:443/" />
    <add key="PrimaryKey" value="8Jde6l8jbRXW57tMAYCSlaCVmLn38mcuoItjYjdsoviJx9kurcL0KBdxeBtAs6BCT3DTItX229Q0QUeEXVttfQ==" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>