<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EndpointUrl" value="https://swcosmosdbsql.documents.azure.com:443/" />
    <add key="PrimaryKey" value="8Jde6l8jbRXW57tMAYCSlaCVmLn38mcuoItjYjdsoviJx9kurcL0KBdxeBtAs6BCT3DTItX229Q0QUeEXVttfQ==" />
    <add key="CassandraUrl" value="cosmoscaswest.cassandra.cosmosdb.azure.com" />
    <add key="CassandraUsername" value="cosmoscaswest" />
    <add key="CassandraKey" value="V9iDZLdoCWtjViyWMp21D7gDbXuRgQ1I8KqVEHw6L3FBOv87ZepLOmWsGkK9s6pssYGE9HzG7Cu82Ipf3eNg4w==" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>